*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.d_tbdr{border: 2px solid black;}
.d_mysection{
    transform: scale(0.8,0.8);
    border:10px solid #0DCAF0 !important;
}
.d_h33{height: 240px;}
.d_active{
    transform: translate(2px,2px);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.8) !important;
}
.d_h33_c{
    background-image: url("../img/hand1.png");
    margin-left: 20px;
    background-repeat:no-repeat;
    background-size: contain;
    background-position: center bottom ;
}
.d_1{
    width: 50px;
    height: 50px;
}
.d_key{
    width: 49px;
    height: 52px;
    color: white;
}
.d_key1{
    width: 100px;
    height: 52px;
    color: white;
}
.d_key01{
    width: 61px;
    height: 52px;
    color: white;
}
.d_key12{
    width: 115px;
    height: 52px;
    color: white;
}
.d_key11{
    width: 132.3px;
    height: 52px;
    color: white;
}
.d_key2{
    width: 89px;
    height: 52px;
    color: white;
}
.d_key3{
    width: 106px;
    height: 52px;
    color: white;
}
.d_key4{
    width: 127px;
    height: 52px;
    color: white;
}
.d_key5{
    width: 60px;
    height: 52px;
    color: white;
}
.d_key6{
    width: 348px;
    height: 52px;
    color: white;
}
.d_keybl{
    background: #B1BDFE;
    border-right: 5px solid #828dc8;
    border-bottom: 5px solid #828dc8;
}
.d_keybl:hover{
    background-color: #B1BDFE;
    color: wheat;
}
.d_keyu, .d_keyd{
    width: 49px;
    height: 25px;
    color: white;
}
.d_circle{
    width: 25px;
    height: 25px;
}
.d_blue{
    left: 56px;
    top:85px;
    z-index:1001;
}